
<nav id="header" class="navbar bg-success">

    <a class="btn btn-success {% if app.request.pathInfo == '/' %} active{% endif %}" href="{{ path('index')}}"><i class="fas fa-home"></i> ACCUEIL</a>
    <a class="btn btn-success {% if app.request.pathInfo == '/plants' %} active{% endif %}" href="{{ path('plants')}}"><i class="fas fa-spa"></i> PLANTES</a>

    {% if app.user %}

        {% if 'ROLE_ADMIN' in app.user.roles %}
            {% include 'header/subheaders/admin.html.twig' %}
        {% elseif 'ROLE_USER' in app.user.roles %}
            {% include 'header/subheaders/users.html.twig' %}
        {% endif %}

    {% else %}
        {% include 'header/subheaders/visitors.html.twig' %}

    {% endif %}
</nav>


{% block stylesheets %}
<style>
    #header > a.btn-success:not('.active') {
        color: black;
    }
</style>
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}