
<nav id="header">
    <a class="btn" href="{{ path('index')}}"><i class="fas fa-home"></i> ACCUEIL</a>
    <a class="btn" href="{{ path('plant')}}"><i class="fas fa-cannabis"></i> PLANTS</a>

    {% if app.user %}

        {% if 'ROLE_ADMIN' in app.user.roles %}
            {% include 'header/subheaders/admin.html.twig' %}
        {% elseif 'ROLE_USER' in app.user.roles %}
            {% include 'header/subheaders/users.html.twig' %}
        {% endif %}

    {% else %}
        {% include 'header/subheaders/visitors.html.twig' %}

    {% endif %}
</nav>


{% block stylesheets %}
<style>

    #header
    {
        width: 100% !important;

        background-color: #718C00;

        text-align: center;
    }

    #header a
    {
        position: relative;

        color: black;
        background-color: #718C00;

        border: none;

        font-size: large;
        font-weight: bold;

        color: black;
    }

    #header a:hover
    {
        color: #718C00;
        background-color: black;
    }

</style>
{% endblock %}