{% extends 'base.html.twig' %}

{% block title %}Plante : {{plant.name}}{% endblock %}
{% block body %}
    <table class="table table-striped">
        <th scope="col">Name</th>
        <th scope="col">Latin Name</th>
        <th scope="col">Water Frequency</th>
        <tr>
            <td>{{plant.name}}</td>
            <td>{{plant.latinName}}</td>
            <td>{{plant.waterFrequency}}</td>
        </tr>
    </table>
{% endblock %}