{% extends 'base.html.twig' %}

{% block title %}Plants{% endblock %}
{% block body %}
    <table class="table table-striped">
        <th scope="col">Name</th>
        <th scope="col">Latin Name</th>
        {% for plant in plants %}
            <tr>
                <td><a href='/plant/{{plant.id}}'>{{plant.name}}</a></td>
                <td>{{plant.latinName}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}