{% extends 'base.html.twig' %}

{% block title %}Plant Families{% endblock %}
{% block body %}
    <table class="table table-striped">
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        {% for family in families %}
            <tr>
                <td><a href='/plant_family/{{family.id}}'> {{family.name}}</a></td>
                <td>{{family.description}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}