{% block body %}
    {{ form_start(formSpecimen) }}
    <div class="form-group">
        {{ form_row(formSpecimen.name, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
    </div>
{% endblock %}