{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <hr>
    <h1>Vos jardins</h1>
    <button id="addGarden" class="btn btn-warning">
        Ajouter un jardin
    </button>
    <div class="container">
        {% include 'garden/gardens.html.twig' with {'gardens': app.user.gardens} %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/formUtil.js') }}" role="form-util"></script>
    <!-- OpenStreetMap JS library -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script>
        var modalShown = 0;

        $(document).on('hidden.bs.modal', () =>{
            $('#modal').remove();
            $('script[role="modal-script"]').remove();
            modalShown = 0;
        });


        $("#addGarden, #editGarden").on('click', (event) => {
            if(modalShown) {
                event.stopPropagation();
                return;
            }
            modalShown = 1;
            let route = '';
            if(event.target.getAttribute('id') == 'editGarden') {
                route = "{{ path('garden_edit', {'id': 'XXX' }) }}";
                route = route.replace('XXX', event.target.getAttribute('data-garden-id'));
            } else {
                route = '{{ path("garden_create") }}';
            }

            $.post(route, {

            }, (modal) => {
                $('body').append(modal);
                $('#modal').modal({
                    backdrop: 'static',
                    keyboard: true
                });
            });
        });
    </script>
{% endblock %}