{% block user_header %}
    <a class="btn" href="{{ path('garden')}}"><i class="fab fa-pagelines"></i>  GARDEN</a>
    <a class="btn" href="{{ path('account')}}"><i class="fas fa-user-alt"></i> ACCOUNT</a>
    <a class="btn" href="{{ path('logout')}}"><i class="fas fa-sign-out-alt"></i> LOGOUT</a>
{% endblock %}