{% block user_header %}
    <a class="btn" href="{{ path('garden')}}"><i class="fab fa-pagelines"></i> JARDIN</a>
    <a class="btn" href="{{ path('account')}}"><i class="fas fa-user-alt"></i> COMPTE</a>
    <a class="btn" href="{{ path('logout')}}"><i class="fas fa-sign-out-alt"></i> DECONNEXION</a>
{% endblock %}