{% block user_header %}
    <a class="btn btn-success {% if app.request.pathInfo == '/' %} active{% endif %}" href="#"><i class="fab fa-pagelines"></i> JARDIN</a>
    <a class="btn btn-success {% if app.request.pathInfo == '/account' %} active{% endif %}" href="#"><i class="fas fa-user-alt"></i> COMPTE</a>
    <a class="btn btn-success" href="/logout"><i class="fas fa-sign-out-alt"></i> DECONNEXION</a>
{% endblock %}