{% block visitor_header %}
    <a class="btn" href="{{ path('register')}}"><i class="fas fa-user-plus"></i> INSCRIPTION</a>
    <a class="btn" href="{{ path('login')}}"><i class="fas fa-sign-in-alt"></i> CONNEXION</a>
{% endblock %}